@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Thai');
@import url('https://fonts.googleapis.com/css?family=Inter');

html,body {
  height: 100%;
  margin: 0;
  background-image: url("/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* { 
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .flex-item-right{
    flex: 100%;
  }
  .flex-item-right{
    flex: 100%;
    width: 358px;
  }
}

@media (max-width: 994px) {
  html,body {
    height: 100%;
    margin: 0;
    background-image: url("/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

.card-text-h1 {
  font-family: Noto Sans Thai;
  font-size: 48px;
  margin: 20px 0px 20px 0px;
}

.card-text-label {
  font-family: Noto Sans Thai;
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-text-normal {
  font-family: Noto Sans Thai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
  
.flex-item-left{
    padding: 20px;
    text-align: center;
  }

.flex-item-right{
    padding: 20px;
    text-align: center;
    flex: 60%;
  }

.nighttime {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #FFFFFF;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #24516A 0%, #060D11 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.clearsky {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #665549;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #FFEE87 0%, #FFF9D2 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.rain {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #333333;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #7F96A3 0%, #E8F4FF 100%, #F8F8F8 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.partlycloud {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #1F305E;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #9EF9FF 0%, #D1FCFF 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.overcast {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #1F305E;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #A3DEFF 0%, #DDF3FF 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.thunderstorm {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #333333;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #8CA4A2 0%, #E8F4FF 100%, #F8F8F8 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.drizzle {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #1F305E;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #7FAFCA 0%, #D4EBFF 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.fog {
    width: 358px;
    height: max-content;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: b#333333;
    background: radial-gradient(293.90% 148.08% at 2.23% -8.92%, #BABABA 0%, #F8F8F8 100%);
    padding: 16px 24px 16px 24px;
    position: relative;
  }

.card-container {
    text-align: left;
    font-weight: 700;
    line-height: normal;
    
}

.card-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 60%;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  min-width: 358px;
  flex-direction: column;
  padding: 16px 24px 16px 24px;
  text-align: left;
  border-radius: 8px;
  background: #F8F8F8;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.flex-forecast-head {
  color: black;
  font-family: Noto Sans Thai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: max-content;
  text-align: left;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.10);
  
}

.flex-forecast-item {
  font-family: Noto Sans Thai;
  height: max-content;
  margin: 16px 0px 0px 0px;
  text-align: left;
  flex-direction: row;
  display: flex;
}

.forecasttime {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  flex: 80%;
}

.forecasttemp{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 40px;
}

.weather-icon {
  margin-left: 10px;
  margin-right: 10px;
}
